Based on Estimating local and global feature importance scores using DiCE:
http://interpret.ml/DiCE/notebooks/DiCE_feature_importances.html#Local-feature-importance

In [26]:
import sys
sys.path.append("/mnt/nvme2tb/ffp/code/mlfires/ML_fires_al/")
import pathlib

import pandas as pd
#import dice_ml
#from dice_ml import Dice

#from best_models import retrieve_models_by_id
#from check_and_prepare_dataset import load_dataset
#from manage_model import mm_load_model,allowgrowthgpus
import xarray as xr
import numpy as np
import os
import geopandas as gpd
os.environ["XLA_FLAGS"] = '--xla_gpu_cuda_data_dir=/usr/lib/cuda'
import fiona
import re

In [2]:
dfxai=pd.read_csv('/mnt/nvme2tb/ffp/datasets/xai/20190929_xai.csv', dtype={'id':str})

In [3]:
dfxai['x']=dfxai['id'].str.slice(0,6).astype(int)/10000

In [4]:
dfxai['y']=dfxai['id'].str.slice(6,12).astype(int)/10000

In [5]:
dfxai

,bin_corine_25,bin_corine_15,bin_corine_16,bin_corine_18,bin_corine_26,bin_corine_27,bin_corine_28,bin_corine_29,bin_corine_32,bin_corine_33,...,min_temp,ndvi,rain_7_days,res_max,road_dens,slope,xpos,id,x,y
0,0.4,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,261932416887,26.1932,41.6887
1,0.0,0.0,0.1,0.2,0.2,0.0,0.0,0.0,0.0,0.1,...,0.0,0.0,0.0,0.0,0.0,0.1,0.0,263530416887,26.3530,41.6887
2,0.0,0.0,0.0,0.0,0.1,0.1,0.1,0.1,0.0,0.3,...,0.0,0.0,0.0,0.1,0.0,0.1,0.0,241159415289,24.1159,41.5289
3,0.0,0.0,0.0,0.1,0.1,0.0,0.0,0.2,0.1,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,242757415289,24.2757,41.5289
4,0.1,0.0,0.0,0.0,0.3,0.0,0.4,0.0,0.0,0.0,...,0.0,0.0,0.1,0.0,0.0,0.0,0.0,261932415289,26.1932,41.5289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.1,0.0,...,0.1,0.0,0.1,0.0,0.0,0.0,0.0,247551349776,24.7551,34.9776
515,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.1,0.0,0.0,0.0,0.0,249149349776,24.9149,34.9776
516,0.1,0.0,0.0,0.1,0.0,0.0,0.1,0.0,0.0,0.1,...,0.0,0.0,0.0,0.2,0.1,0.0,0.0,250747349776,25.0747,34.9776
517,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.1,252345349776,25.2345,34.9776
518,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,...,0.0,0.2,0.1,0.0,0.0,0.0,0.0,241159348179,24.1159,34.8179

In [124]:
dict0=dfxai.to_dict('records')[0]
dict0.pop('id')
dict0.pop('x')
dict0.pop('y')

41.6887

In [114]:

dict0

{'bin_corine_25': 0.4,
 'bin_corine_15': 0.1,
 'bin_corine_16': 0.1,
 'bin_corine_18': 0.1,
 'bin_corine_26': 0.1,
 'bin_corine_27': 0.1,
 'bin_corine_28': 0.1,
 'bin_corine_29': 0.1,
 'bin_corine_32': 0.1,
 'bin_corine_33': 0.1,
 'bin_corine_4': 0.1,
 'f81': 0.1,
 'lst_night': 0.1,
 'mean_dew_temp': 0.1,
 'ypos': 0.1,
 'aspect': 0.0,
 'bin_corine_1': 0.0,
 'bin_corine_10': 0.0,
 'bin_corine_11': 0.0,
 'bin_corine_12': 0.0,
 'bin_corine_13': 0.0,
 'bin_corine_14': 0.0,
 'bin_corine_17': 0.0,
 'bin_corine_19': 0.0,
 'bin_corine_2': 0.0,
 'bin_corine_20': 0.0,
 'bin_corine_21': 0.0,
 'bin_corine_22': 0.0,
 'bin_corine_23': 0.0,
 'bin_corine_24': 0.0,
 'bin_corine_3': 0.0,
 'bin_corine_30': 0.0,
 'bin_corine_31': 0.0,
 'bin_corine_35': 0.0,
 'bin_corine_36': 0.0,
 'bin_corine_37': 0.0,
 'bin_corine_38': 0.0,
 'bin_corine_40': 0.0,
 'bin_corine_41': 0.0,
 'bin_corine_42': 0.0,
 'bin_corine_43': 0.0,
 'bin_corine_44': 0.0,
 'bin_corine_5': 0.0,
 'bin_corine_6': 0.0,
 'bin_corine_7': 0.0,
 'bin_corine_8': 0.0,
 'bin_corine_9': 0.0,
 'dem': 0.0,
 'dom_vel': 0.0,
 'evi': 0.0,
 'frequency': 0.0,
 'lst_day': 0.0,
 'max_dew_temp': 0.0,
 'max_temp': 0.0,
 'mean_temp': 0.0,
 'min_dew_temp': 0.0,
 'min_temp': 0.0,
 'ndvi': 0.0,
 'rain_7_days': 0.0,
 'res_max': 0.0,
 'road_dens': 0.0,
 'slope': 0.0,
 'xpos': 0.0}

In [97]:
def join_tuple_string(tup)->str:
    return '%s : %.2f'%(tup[0], tup[1])

numimp=5
rendict={c:'cor_%s'%(re.search('\d+',c).group(0)) for c in dfxai.columns if c.startswith('bin_corine')}
dfxai.rename(columns=rendict, inplace=True)
dictxai=dfxai.to_dict('records')
sortedimp=[]
for d in dictxai:
    d.pop('id')
    sortimp = sorted(d.items(), key=lambda x: x[1], reverse=True)
    sortedimp += [[sortimp[0][1], sortimp[1][1]]+list(map(join_tuple_string, sortimp[2:2+numimp]))]
dfxaifin=pd.DataFrame(sortedimp, columns=['y','x']+['imp%d'%i for i in list(range(1,numimp+1))])

In [98]:
#print('Convert csv to shp points, input: %s, output: %s'%(inputfile, friskshp))
gdf = gpd.GeoDataFrame(dfxaifin, geometry=gpd.points_from_xy(dfxai['x'], dfxai['y'], z=None, crs=4326))

In [99]:
gdf.drop(columns=['x', 'y'], inplace=True)

In [100]:
gdf.to_file('/mnt/nvme2tb/ffp/datasets/xai/20190929_xai.shp')

In [40]:
def addition(n): 
    return n + n 
  
# We double all numbers using map() 
numbers = (1, 2, 3, 4) 
result = map(addition, numbers) 
print(list(result))

[2, 4, 6, 8]