In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/mnt/nvme2tb/ffp/results/best2/test/hypres_tf_ns_gr_2019_all_test_1.csv')

In [7]:
df.columns

Index(['Model ID', 'opt. metric', 'training set', 'test set', 'accuracy train',
       'precision 1 train', 'recall 1 train', 'f1-score 1 train',
       'precision 0 train', 'recall 0 train', 'f1-score 0 train', 'auc train',
       'TN train', 'FP train', 'FN train', 'TP train', 'accuracy test',
       'precision 1 test', 'recall 1 test', 'f1-score 1 test',
       'precision 0 test', 'recall 0 test', 'f1-score 0 test', 'auc test',
       'TN test', 'FP test', 'FN test', 'TP test', 'FN01 test', 'FN02 test',
       'FN001 test', 'FN002 test', 'early stop epochs', 'params',
       'CV Fit and predict min.'],
      dtype='object')

In [11]:
dffilt=df[['Model ID', 'opt. metric', 'test set', 'recall 1 test', 'recall 0 test', 'params' ]]

In [13]:
dffilt[dffilt['test set'].str.contains('all')]

,Model ID,opt. metric,test set,recall 1 test,recall 0 test,params
4,163,BA test,all set,0.814024,0.831273,"{'ES_mindelta': 0.002, 'ES_monitor': 'val_loss..."
9,208,BA test,all set,0.812500,0.827836,"{'ES_mindelta': 0.002, 'ES_monitor': 'val_loss..."
14,222,BA test,all set,0.823171,0.831583,"{'ES_mindelta': 0.002, 'ES_monitor': 'val_loss..."
19,276,NH5 test,all set,0.960366,0.604291,"{'ES_mindelta': 0.002, 'ES_monitor': 'val_loss..."
24,263,NH5 test,all set,0.928354,0.681072,"{'ES_mindelta': 0.002, 'ES_monitor': 'val_loss..."