In [3]:
import pandas as pd
import geopandas as gpd

In [4]:
gdfperif=gpd.read_file(r'/mnt/nvme2tb/ffp/datasets/test/2019/perif/periphereies.shp',encoding='Windows-1253')
gdfperif=gdfperif.to_crs(4326)

ERROR 1: PROJ: proj_create_from_database: Open of /home/aapostolakis/miniconda3/envs/mlfires_classic/share/proj failed

In [5]:
gdfperif

,PER,geometry
0,Π. ΑΝΑΤΟΛΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ - ΘΡΑΚΗΣ,"MULTIPOLYGON (((23.62358 41.35455, 23.62361 41..."
1,Π. ΚΕΝΤΡΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ,"MULTIPOLYGON (((21.70423 40.86339, 21.70425 40..."
2,Π. ΔΥΤΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ,"POLYGON ((20.77648 40.35294, 20.77652 40.35548..."
3,Π. ΗΠΕΙΡΟΥ,"MULTIPOLYGON (((20.00882 39.69130, 20.00884 39..."
4,Π. ΘΕΣΣΑΛΙΑΣ,"MULTIPOLYGON (((21.12042 39.67888, 21.12044 39..."
5,Π. ΒΟΡΕΙΟΥ ΑΙΓΑΙΟΥ,"MULTIPOLYGON (((24.97064 39.50330, 24.97071 39..."
6,Π. ΝΟΤΙΟΥ ΑΙΓΑΙΟΥ,"MULTIPOLYGON (((24.12909 36.50774, 24.12909 36..."
7,Π. ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ,"MULTIPOLYGON (((21.37464 39.01890, 21.37471 39..."
8,Π. ΔΥΤΙΚΗΣ ΕΛΛΑΔΑΣ,"MULTIPOLYGON (((21.10483 37.85062, 21.10511 37..."
9,Π. ΠΕΛΟΠΟΝΝΗΣΟΥ,"MULTIPOLYGON (((21.53886 37.05523, 21.53886 37..."
10,Π. ΙΟΝΙΩΝ ΝΗΣΩΝ,"MULTIPOLYGON (((19.63426 39.72938, 19.63446 39..."
11,Π. ΚΡΗΤΗΣ,"MULTIPOLYGON (((24.03651 34.85636, 24.03664 34..."
12,Π. ΑΤΤΙΚΗΣ,"MULTIPOLYGON (((22.89876 36.19485, 22.89888 36..."

In [6]:
df=pd.read_csv(r'/mnt/nvme2tb/ffp/datasets/test/2019/20190927_df.csv')

In [7]:
geom = gpd.points_from_xy(df['x'], df['y'])
gdf = gpd.GeoDataFrame(df, geometry=geom)
gdf=gdf.set_crs(4326)

In [8]:
gdf

,y,x,dom_dir,dom_vel,res_max,dir_max,max_dew_temp,min_dew_temp,mean_dew_temp,max_temp,...,corine_gr5,corine_gr21,corine_gr22,corine_gr23,corine_gr24,corine_gr31,corine_gr32,corine_gr33,band,geometry
0,41.765998,22.770646,1.0,2.739546,2.739546,1.0,282.25513,278.93237,280.3813,290.49072,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,POINT (22.77065 41.76600)
1,41.765998,22.775800,1.0,2.739546,2.739546,1.0,282.25513,278.93237,280.3813,290.49072,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,POINT (22.77580 41.76600)
2,41.765998,22.780955,1.0,2.739546,2.739546,1.0,282.25513,278.93237,280.3813,290.49072,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,POINT (22.78095 41.76600)
3,41.765998,22.786109,1.0,2.739546,2.739546,1.0,282.25513,278.93237,280.3813,290.49072,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,POINT (22.78611 41.76600)
4,41.765998,22.791263,1.0,2.739546,2.739546,1.0,282.25513,278.93237,280.3813,290.49072,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,POINT (22.79126 41.76600)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655692,34.817857,24.115946,0.0,3.938240,3.938240,6.0,295.62305,292.55810,294.2491,299.67627,...,0.037921,0.0,0.0,0.0,0.0,0.0,0.537002,0.425077,1,POINT (24.11595 34.81786)
655693,34.812703,24.110792,0.0,3.938240,3.938240,6.0,295.62305,292.55810,294.2491,299.67627,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.037931,0.962069,1,POINT (24.11079 34.81270)
655694,34.812703,24.121100,0.0,3.938240,3.938240,6.0,295.62305,292.55810,294.2491,299.67627,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.008493,0.991507,1,POINT (24.12110 34.81270)
655695,34.812703,24.126255,0.0,3.938240,3.938240,6.0,295.62305,292.55810,294.2491,299.67627,...,0.451182,0.0,0.0,0.0,0.0,0.0,0.000000,0.548818,1,POINT (24.12625 34.81270)
655696,34.807549,24.121100,0.0,3.938240,3.938240,6.0,295.62305,292.55810,294.2491,299.67627,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.638952,0.361048,1,POINT (24.12110 34.80755)

In [9]:
gdf_attica = gpd.sjoin(gdf, gdfperif.iloc[[12]], how='inner', predicate='within')

In [10]:
gdf_attica

,y,x,dom_dir,dom_vel,res_max,dir_max,max_dew_temp,min_dew_temp,mean_dew_temp,max_temp,...,corine_gr22,corine_gr23,corine_gr24,corine_gr31,corine_gr32,corine_gr33,band,geometry,index_right,PER
493375,38.338318,23.693285,1.0,2.364669,2.364669,1.0,291.22168,289.02905,290.22415,299.53418,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,1,POINT (23.69328 38.33832),12,Π. ΑΤΤΙΚΗΣ
493729,38.333163,23.693285,1.0,2.364669,2.364669,1.0,291.22168,289.02905,290.22415,299.53418,...,0.0,0.000000,0.366740,0.0,0.129254,0.0,1,POINT (23.69328 38.33316),12,Π. ΑΤΤΙΚΗΣ
493730,38.333163,23.698439,1.0,2.364669,2.364669,1.0,291.22168,289.02905,290.22415,299.53418,...,0.0,0.000000,0.502457,0.0,0.262256,0.0,1,POINT (23.69844 38.33316),12,Π. ΑΤΤΙΚΗΣ
493731,38.333163,23.703594,1.0,2.364669,2.364669,1.0,291.22168,289.02905,290.22415,299.53418,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,1,POINT (23.70359 38.33316),12,Π. ΑΤΤΙΚΗΣ
493732,38.333163,23.724211,1.0,2.364669,2.364669,1.0,291.22168,289.02905,290.22415,299.53418,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,1,POINT (23.72421 38.33316),12,Π. ΑΤΤΙΚΗΣ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624455,35.848739,23.322167,0.0,5.942257,5.942257,8.0,292.84546,290.74512,291.93710,299.11230,...,0.0,0.000000,0.000000,0.0,1.000000,0.0,1,POINT (23.32217 35.84874),12,Π. ΑΤΤΙΚΗΣ
624463,35.843584,23.311859,0.0,5.942257,5.942257,8.0,292.84546,290.74512,291.93710,299.11230,...,0.0,0.084559,0.000000,0.0,0.915441,0.0,1,POINT (23.31186 35.84358),12,Π. ΑΤΤΙΚΗΣ
624464,35.843584,23.317013,0.0,5.942257,5.942257,8.0,292.84546,290.74512,291.93710,299.11230,...,0.0,0.417434,0.000000,0.0,0.582565,0.0,1,POINT (23.31701 35.84358),12,Π. ΑΤΤΙΚΗΣ
624465,35.843584,23.322167,0.0,5.942257,5.942257,8.0,292.84546,290.74512,291.93710,299.11230,...,0.0,0.000000,0.000000,0.0,1.000000,0.0,1,POINT (23.32217 35.84358),12,Π. ΑΤΤΙΚΗΣ
624466,35.843584,23.327322,0.0,5.942257,5.942257,8.0,292.84546,290.74512,291.93710,299.11230,...,0.0,0.000000,0.000000,0.0,0.633451,0.0,1,POINT (23.32732 35.84358),12,Π. ΑΤΤΙΚΗΣ

In [11]:
df=pd.read_csv('/mnt/nvme2tb/ffp/datasets/test/2019/attica/20190601_df_attica_norm.csv')

In [12]:
df

,index,y,x,dom_dir,dom_vel,res_max,dir_max,max_dew_temp,min_dew_temp,mean_dew_temp,...,corine_gr5,corine_gr21,corine_gr22,corine_gr23,corine_gr24,corine_gr31,corine_gr32,corine_gr33,band,firedate
0,0,0.501172,0.427230,1.0,0.078981,0.097952,3.0,0.779254,0.682054,0.725364,...,0.341016,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,1,20190601
1,1,0.500446,0.427230,1.0,0.078981,0.097952,3.0,0.779254,0.682054,0.725364,...,0.000000,0.0,0.0,0.000000,0.366740,0.0,0.129254,0.0,1,20190601
2,2,0.500446,0.427729,1.0,0.078981,0.097952,3.0,0.779254,0.682054,0.725364,...,0.002878,0.0,0.0,0.000000,0.502457,0.0,0.262256,0.0,1,20190601
3,3,0.500446,0.428228,1.0,0.078981,0.097952,3.0,0.779254,0.682054,0.725364,...,0.001549,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,1,20190601
4,4,0.500446,0.430224,1.0,0.078981,0.097952,3.0,0.779254,0.682054,0.725364,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,1,20190601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13772,13772,0.150527,0.391304,0.0,0.278001,0.282650,7.0,0.809431,0.814339,0.801445,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.0,1,20190601
13773,13773,0.149801,0.390306,0.0,0.278001,0.282650,7.0,0.809431,0.814339,0.801445,...,0.000000,0.0,0.0,0.084559,0.000000,0.0,0.915441,0.0,1,20190601
13774,13774,0.149801,0.390805,0.0,0.278001,0.282650,7.0,0.809431,0.814339,0.801445,...,0.000000,0.0,0.0,0.417434,0.000000,0.0,0.582565,0.0,1,20190601
13775,13775,0.149801,0.391304,0.0,0.278001,0.282650,7.0,0.809431,0.814339,0.801445,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.0,1,20190601
13776,13776,0.149801,0.391803,0.0,0.278001,0.282650,7.0,0.809431,0.814339,0.801445,...,0.366549,0.0,0.0,0.000000,0.000000,0.0,0.633451,0.0,1,20190601

In [13]:
df.columns

Index(['index', 'y', 'x', 'dom_dir', 'dom_vel', 'res_max', 'dir_max',
       'max_dew_temp', 'min_dew_temp', 'mean_dew_temp', 'max_temp', 'min_temp',
       'mean_temp', 'rain_7_days', 'ndvi', 'evi', 'lst_day', 'lst_night',
       'fire', 'weekday', 'month', 'pop', 'slope', 'road_dens', 'dem',
       'aspect', 'f81', 'frequency', 'corine_gr1', 'corine_gr4', 'corine_gr5',
       'corine_gr21', 'corine_gr22', 'corine_gr23', 'corine_gr24',
       'corine_gr31', 'corine_gr32', 'corine_gr33', 'band', 'firedate'],
      dtype='object')

In [ ]:
|