In [1]:
import os
from os import listdir
from os.path import isfile, join
import pandas as pd

In [2]:
os.chdir('/home/sgirtsou/Documents/June2019/Comb_results')
mypath = '/home/sgirtsou/Documents/June2019/Comb_results'

In [4]:
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f)) and 'comb' in f]
combined_csv = pd.concat([pd.read_csv(f) for f in [onlyfiles[0]]])

In [5]:
combined_csv.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'id', 'Corine', 'DEM', 'Slope', 'Aspect', 'Curvature', 'ndvi',
       'max_temp', 'min_temp', 'mean_temp', 'rain_7days', 'res_max', 'dir_max',
       'dom_vel', 'dom_dir', 'x', 'y', 'fire', 'Class_pred', 'Class_0_proba',
       'Class_1_proba', 'Class_pred_lb', 'Class_0_proba_lb',
       'Class_1_proba_lb', 'OBJECTID', 'fire_id', 'firedate_g', 'g_id',
       'Comb_proba_1', 'Comb_class_pred'],
      dtype='object')

In [6]:
ranges = [0.0,0.2,0.4,0.6,0.8,1.0]

In [30]:
combined_cut=pd.cut(combined_csv.Class_1_proba, ranges)

In [8]:
combined_cut=combined_cut.rename("ranges")

In [9]:
combined_csv_r=pd.concat([combined_csv,combined_cut],axis=1)

In [31]:
combined_csv_r

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,id,Corine,DEM,Slope,Aspect,Curvature,...,Class_pred_lb,Class_0_proba_lb,Class_1_proba_lb,OBJECTID,fire_id,firedate_g,g_id,Comb_proba_1,Comb_class_pred,ranges
0,0,0,0,0,333237,311,84.3599,1.39337,42.2097,-0.000953,...,0,1.000000,7.205642e-13,NaN,NaN,NaN,NaN,0.347087,0,"(0.2, 0.4]"
1,1,1,1,1,335462,311,77.4268,1.34403,344.9420,-0.011174,...,0,1.000000,1.048661e-15,NaN,NaN,NaN,NaN,0.235868,0,"(0.2, 0.4]"
2,2,2,2,2,335463,311,90.7271,1.21530,357.5200,0.010208,...,0,1.000000,7.867603e-15,NaN,NaN,NaN,NaN,0.334811,0,"(0.2, 0.4]"
3,3,3,3,3,335464,311,84.3599,1.39337,42.2097,-0.000953,...,0,1.000000,7.205642e-13,NaN,NaN,NaN,NaN,0.347087,0,"(0.2, 0.4]"
4,4,4,4,4,337688,311,100.3930,1.60630,18.9754,-0.005336,...,0,1.000000,4.357297e-12,NaN,NaN,NaN,NaN,0.276757,0,"(0.2, 0.4]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373539,373539,373539,373539,373987,3468809,323,0.0000,0.00000,0.0000,0.000000,...,1,0.002106,9.978943e-01,NaN,NaN,NaN,NaN,0.997894,1,"(0.4, 0.6]"
373540,373540,373540,373540,373988,3468810,323,0.0000,0.00000,-1.0000,-0.000000,...,1,0.006168,9.938315e-01,NaN,NaN,NaN,NaN,0.993832,1,"(0.4, 0.6]"
373541,373541,373541,373541,373989,3462125,321,0.0000,0.00000,-1.0000,-0.000000,...,1,0.043742,9.562585e-01,NaN,NaN,NaN,NaN,0.506242,1,"(0.4, 0.6]"
373542,373542,373542,373542,373990,3462126,321,0.0000,0.00000,-1.0000,-0.000000,...,1,0.117125,8.828749e-01,NaN,NaN,NaN,NaN,0.509161,1,"(0.4, 0.6]"
373543,373543,373543,373543,373991,3462127,321,0.0000,0.00062,270.0000,-0.000009,...,1,0.000855,9.991446e-01,NaN,NaN,NaN,NaN,0.999145,1,"(0.4, 0.6]"

In [43]:
groups = combined_csv_r.groupby(combined_cut).count()['Class_1_proba']

In [44]:
groups

Class_1_proba
(0.0, 0.2]     50838
(0.2, 0.4]    111421
(0.4, 0.6]     80818
(0.6, 0.8]    115633
(0.8, 1.0]     14831
Name: Class_1_proba, dtype: int64

In [52]:
combined_cut_lb=pd.cut(combined_csv.Class_1_proba_lb, ranges)
combined_cut_lb=combined_cut_lb.rename("ranges_lb")
combined_csv_lb_r=pd.concat([combined_csv,combined_cut_lb],axis=1)

In [53]:
groups_lb = combined_csv_r.groupby(combined_cut_lb).count()['Class_1_proba_lb']
groups_lb

ranges_lb
(0.0, 0.2]    369000
(0.2, 0.4]       976
(0.4, 0.6]       635
(0.6, 0.8]       597
(0.8, 1.0]      2336
Name: Class_1_proba_lb, dtype: int64

In [34]:
combined_csv_fire=combined_csv[combined_csv["fire"]==1]
combined_fire_cut=pd.cut(combined_csv_fire.Class_1_proba, ranges)
combined_fire_cut=combined_fire_cut.rename("ranges_fire")

In [41]:
combined_csv_fire_r=pd.concat([combined_csv_fire,combined_fire_cut],axis=1)

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Unnamed: 0.1.1.1, id, Corine, DEM, Slope, Aspect, Curvature, ndvi, max_temp, min_temp, mean_temp, rain_7days, res_max, dir_max, dom_vel, dom_dir, x, y, fire, Class_pred, Class_0_proba, Class_1_proba, Class_pred_lb, Class_0_proba_lb, Class_1_proba_lb, OBJECTID, fire_id, firedate_g, g_id, Comb_proba_1, Comb_class_pred, ranges_fire]
Index: []

[0 rows x 35 columns]

In [38]:
groups_fire = combined_csv_fire_r.groupby(combined_fire_cut).count()

In [39]:
allstats=pd.concat([groups["ranges"],groups_fire["ranges_fire"]],axis=1)
type(allstats)

pandas.core.frame.DataFrame

In [40]:
s1=allstats["ranges"].sum()
s2=allstats["ranges_fire"].sum()
spc1=0
spc2=0
for index, row in allstats.iterrows():
    #print(index,row["ranges"], row["ranges_fire"])
    #print(g["ranges"])
    pc1=row["ranges"]/s1
    spc1+=pc1
    pc2=row["ranges_fire"]/s2
    spc2+=pc2
    print("%s-%s : %3.2f %3.2f"%(index.left,index.right,pc1*100,pc2*100))
#print("0.0-1.0 : %3.2f"%(spc*100))

0.0-0.2 : 13.61 nan
0.2-0.4 : 29.83 nan
0.4-0.6 : 21.64 nan
0.6-0.8 : 30.96 nan
0.8-1.0 : 3.97 nan

/home/sgirtsou/miniconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in long_scalars
  # Remove the CWD from sys.path while we load stuff.

7844361