In [30]:
import pandas as pd

In [31]:
df=pd.read_csv("/data2/ffp/datasets/trainingsets/newfull/traindataset_new_norm.csv")

In [23]:
df[['x','y']]

              x         y
0      0.256581  0.589740
1      0.258077  0.589740
2      0.322944  0.587562
3      0.279533  0.563605
4      0.219656  0.556345
...         ...       ...
26599  0.388809  0.834393
26600  0.389308  0.834393
26601  0.389807  0.834393
26602  0.388809  0.835119
26603  0.389308  0.835119

[26604 rows x 2 columns]

In [24]:
df.columns

Index(['dom_dir', 'dom_vel', 'res_max', 'dir_max', 'max_dew_temp',
       'min_dew_temp', 'mean_dew_temp', 'max_temp', 'min_temp', 'mean_temp',
       'rain_7_days', 'ndvi', 'evi', 'lst_day', 'lst_night', 'fire', 'weekday',
       'month', 'x', 'y', 'firedate', 'pop', 'slope', 'road_dens', 'dem',
       'aspect', 'f81', 'frequency', 'corine_13', 'corine_4', 'corine_30',
       'corine_38', 'corine_36', 'corine_10', 'corine_20', 'corine_18',
       'corine_16', 'corine_43', 'corine_27', 'corine_5', 'corine_31',
       'corine_17', 'corine_12', 'corine_26', 'corine_37', 'corine_24',
       'corine_28', 'corine_29', 'corine_19', 'corine_21', 'corine_6',
       'corine_23', 'corine_22', 'corine_1', 'corine_8', 'corine_33',
       'corine_2', 'corine_40', 'corine_32', 'corine_41', 'corine_3',
       'corine_25', 'corine_35', 'corine_14', 'corine_42', 'corine_11',
       'corine_44', 'corine_15', 'corine_7', 'corine_9', 'corine_gr1',
       'corine_gr4', 'corine_gr5', 'corine_gr21', 'corine_gr22', 'corine_gr23',
       'corine_gr24', 'corine_gr31', 'corine_gr32', 'corine_gr33', 'band'],
      dtype='object')

In [28]:
for c in df.columns: 
    print(c,df[c].min()<0, df[c].max()>1, df[c].mean()>1)

dom_dir False True True
dom_vel False False False
res_max False False False
dir_max False True True
max_dew_temp False False False
min_dew_temp False False False
mean_dew_temp False False False
max_temp False False False
min_temp False False False
mean_temp False False False
rain_7_days False False False
ndvi False False False
evi False False False
lst_day False False False
lst_night False False False
fire False False False
weekday False True True
month False True True
x False False False
y False False False
firedate False True True
pop False False False
slope False False False
road_dens False False False
dem False False False
aspect False False False
f81 False False False
frequency False False False
corine_13 False False False
corine_4 False False False
corine_30 False False False
corine_38 False False False
corine_36 False False False
corine_10 False False False
corine_20 False False False
corine_18 False False False
corine_16 False False False
corine_43 False False False
corine_27 False False False
corine_5 False False False
corine_31 False False False
corine_17 False False False
corine_12 False False False
corine_26 False False False
corine_37 False False False
corine_24 False False False
corine_28 False False False
corine_29 False False False
corine_19 False False False
corine_21 False False False
corine_6 False False False
corine_23 False False False
corine_22 False False False
corine_1 False False False
corine_8 False False False
corine_33 False False False
corine_2 False False False
corine_40 False False False
corine_32 False False False
corine_41 False False False
corine_3 False False False
corine_25 False False False
corine_35 False False False
corine_14 False False False
corine_42 False False False
corine_11 False False False
corine_44 False False False
corine_15 False False False
corine_7 False False False
corine_9 False False False
corine_gr1 False False False
corine_gr4 False False False
corine_gr5 False False False
corine_gr21 False False False
corine_gr22 False False False
corine_gr23 False False False
corine_gr24 False False False
corine_gr31 False False False
corine_gr32 False False False
corine_gr33 False False False
band False False False

In [33]:
df['month'].unique()

array([ 9.,  8.,  7., 10.,  4.,  6.,  3.,  5.])